<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40-Client" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40-Client" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2017.1.222" targetFramework="net40-Client" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf.Xaml" version="2017.1.222" targetFramework="net40-Client" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2017.1.222" targetFramework="net40-Client" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2017.1.222" targetFramework="net40-Client" />
</packages>